body {
    font-family: 'Orbitron', sans-serif;
    background: linear-gradient(135deg, #0d1b2a, #1b263b, #415a77);
    color: #ffffff;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.specialform {
    display: block;
    margin: 0 auto;
    text-align: left;
    width: 100%;
    width: 300px;
    margin-left: 0;
    margin-right: auto;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

.btn {
    display: block;
    width: 200px;
    padding: 15px;
    margin: 15px auto;
    background: rgba(255, 255, 255, 0.1);
    color: #ffffff;
    font-size: 1.2em;
    font-weight: 500;
    text-decoration: none;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.5);
    transition: all 0.4s ease-in-out;
    border: 2px solid rgba(255, 255, 255, 0.5);
}

.btn:hover {
    background: rgba(0, 255, 255, 0.3);
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.37);
    transform: scale(1.05);
}

h1 {
    font-size: 3em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ffffff;
    text-shadow: 0 0 10px rgba(173, 216, 230, 0.8), 0 0 20px rgba(0, 255, 255, 0.5);
}

@media (max-width: 768px) {
    h1 {
        font-size: 2em;
    }

    .btn {
        width: 200px;
        font-size: 1em;
        padding: 12px;
    }
}

.feature-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
}

.feature {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 15px;
    border-radius: 10px;
    width: 200px;
    height: 250px;
}