{% extends 'base2.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <link rel="stylesheet" href="{% static 'css/styles2.css' %}">
</head>
<body>
    <h1>Log In</h1>
    <specialform>
        <form method="post" class="specialform">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn">Log In</button>
        </form>
    </specialform>
    <a href="{% url 'signup' %}" class="btn">Don't have an account? Sign up</a>
</body>
</html>
{% endblock %}