{% extends 'base2.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <link rel="stylesheet" href="{% static 'css/styles2.css' %}">
</head>
<body>
    <div class="specialform-container">
        <div class="specialform">
            <h1>Log In</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn primary"><i class="fas fa-sign-in-alt"></i> Log In</button>
            </form>
            <p>Don't have an account?</p>
            <p>Join us and start your productivity journey!</p>
            <a href="{% url 'signup' %}" class="btn primary"><i class="fas fa-user-plus"></i>  Sign up</a>
        </div>
    </div>
</body>
</html>
{% endblock %}