{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habit Tracker</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<div class="sidebar">

    <div class="logo">
        <img src="{% static 'images/logo.png' %}" width="50"> 
        <div style="font-weight: bold; font-size: 20px;">omentum</div>
    </div>
    
    <div class="profile-picture">
        <img src="{% static 'images/default-profile.jpg' %}" width="140">
    </div>    
    
    <div class="hud">
        <div class="hud-item">
            <p>Level {{ level }}</p>
        </div>
        <div class="hud-item">
            <p>{{ rank }}</p>
        </div>
        <div class="hud-item">
            <p>Exp: {{ exp_earned }} / {{ exp_required }}</p>
            <progress value="{{ custom_user.get_current_level_exp_total }}" max="{{ custom_user.get_exp_per_level }}"></progress>
        </div>
    </div>
    <a href="/dashboard/">Dashboard</a>
    <a href="/my_habits/">Habits</a>
    <a href="/my_progress/">Progress</a>
    <a href="/my_calendar/">Calendar</a>
    <a href="/my_profile/">Profile</a>
    <a href="/leaderboard/">Leaderboard</a>
    <form action="{% url 'logout' %}" method="POST" class="logout-f">
        {% csrf_token %}
        <button type="submit" class="logout-btn">Logout</button>
    </form>
</div>
<body>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>