{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habit Tracker</title>
    <link rel="stylesheet" href="{% static 'css/styles2.css' %}">
</head>

<body>
        <!-- Messages -->
        <div class="container mt-3">
            {% if messages %}
                <div id="message-container">
                    {% for message in messages %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>