{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Importing jquery with CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<!-- Linking html with dropdown.js -->
<script src="{% static 'js/dropdown.js' %}"></script>

<link rel="stylesheet" href="{% static 'css/styles.css' %}">


    <div class="habit-container">
        <h2>My Habits</h2>
        <div>
            <a href="{% url 'add_habit' %}" class="btn">Add a New Habit</a>
        </div>
        {% if habits %}
            <ul class="habit-list">
                <li class="dropdown-menu">All Habits </li>
            {% for habit in habits %}
                <li class="habit-item card">
                    <table class="habit-table">
                        <tr>
                            <td class="habit-details-name">{{ habit.name }}</td>
                            <td class="habit-details-labels">Alert</td>
                            <td class="habit-details-labels">EXP</td>
                            <td class="habit-details-labels">Current Streak</td>
                            <td class="habit-details-labels">Max Streak</td>
                            <td class="habit-details-labels">Missed</td>
                            <td class="habit-details-labels">Rate</td>

                            <td class="habit-details-labels">
                                <td class="habit-details-labels">
                                    <div class="habit-button-container">
                                        <div class="habit-action-row">
                                            {% if habit.frequency == 'daily' and not habit.is_completed_today %}
                                                <form action="{% url 'complete_habit' habit.id %}" method="POST">
                                                    {% csrf_token %}
                                                    <button type="submit" class="small-btn done-btn">Done!</button>
                                                </form>
                                            {% elif habit.frequency == 'weekly' and not habit.is_completed_this_week %}
                                                <form action="{% url 'complete_habit' habit.id %}" method="POST">
                                                    {% csrf_token %}
                                                    <button type="submit" class="small-btn done-btn">Done!</button>
                                                </form>
                                            {% elif habit.frequency == 'monthly' and not habit.is_completed_this_month %}
                                                <form action="{% url 'complete_habit' habit.id %}" method="POST">
                                                    {% csrf_token %}
                                                    <button type="submit" class="small-btn done-btn">Done!</button>
                                                </form>
                                            {% endif %}
                                
                                            <a href="{% url 'edit_habit' habit.id %}" class="small-btn edit-btn">Edit</a>
                                            <a href="{% url 'delete_habit' habit.id %}" class="small-btn delete-btn">Delete</a>
                                        </div>
                                
                                        <div class="skip-button-row">
                                            <form action="{% url 'skip_habit' habit.id %}" method="POST">
                                                {% csrf_token %}
                                                <input type="hidden" name="reason" value="No reason provided">
                                                <button type="submit" class="small-btn skip-btn">Skip</button>
                                            </form>
                                        </div>
                                    </div>
                                </td>
                        </tr>
                        
                        <tr>
                            <td class="habit-data">{{ habit.get_frequency_display }}</td>
                            <td class="habit-data">
                                {% if not habit.reminder_time %}
                                    None
                                {% elif habit.frequency == 'daily' %}
                                    {{ habit.reminder_time|time:"H:i" }}
                                {% elif habit.frequency == 'weekly' %}
                                    {{ habit.reminder_time|time:"H:i" }} on {{ habit.get_reminder_weekly_display }}
                                {% elif habit.frequency == 'monthly' %}
                                    {{ habit.reminder_time|time:"H:i" }} on the {{ habit.reminder_monthly }}
                                {% endif %}
                            </td>
                            <td class="habit-data">{{ habit.experience }}</td>
                            <td class="habit-data">{{ habit.get_current_streak }}</td>
                            <td class="habit-data">{{ habit.get_max_streak }}</td>
                            <td class="habit-data">{{ habit.get_missed_occurrences }}</td>
                            <td class="habit-data">{{ habit.get_completion_rate|floatformat:2 }}%</td>

                        </tr>
                    </table>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <p>You don't have any habits yet. Start adding some!</p>
        {% endif %}
    </div>
{% endblock %}
