{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1>My Progress</h1>

<p>Want an email notification of your habits for today?
    <a href="{% url 'send_habit_notifications' %}">
        <button class="btn">Send!</button>
    </a>
</p>

<div class="progress-container">
    <!-- user stats -->
    <div class="progress-item card">
        <h3>User Stats</h3>
        <table class="tableprogress">
            <thead>
                <tr>
                    <th>Stat</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><strong>Level</strong></td>
                    <td>{{ user.custom_user.level }}</td>
                </tr>
                <tr>
                    <td><strong>Rank</strong></td>
                    <td>{{ user.custom_user.rank }}</td>
                </tr>
                <tr>
                    <td><strong>Location</strong></td>
                    <td>{{ user.custom_user.get_current_location }}</td>
                </tr>
                <tr>
                    <td><strong>Total Experience</strong></td>
                    <td>{{ user.custom_user.total_exp }}</td>
                </tr>
                <tr>
                    <td><strong>Started Your Journey</strong></td>
                    <td>{{ total_days_active }} days ago</td>
                </tr>
                <tr>
                    <td><strong>Total Habits</strong></td>
                    <td>{{ total_habits }}</td>
                </tr>
                <tr>
                    <td><strong>Lifetime Completed Habits</strong></td>
                    <td>{{ completed_habits }}</td>
                </tr>
                <tr>
                    <td><strong>Lifetime Missed Habits</strong></td>
                    <td>{{ total_missed_habits }}</td>
                </tr>
                <tr>
                    <td><strong>Lifetime Completion Rate</strong></td>
                    <td>{{ overall_completion_rate }}%</td>
                </tr>
                <tr>
                    <td><strong>Highest Habit Streak</strong></td>
                    <td>{{ longest_streak }}</td>
                </tr>
                <tr>
                    <td><strong>Current Highest Streak</strong></td>
                    <td>{{ current_streak }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- leveling -->
    <div class="progress-item card">
        <h3>Leveling Chart</h3>
        <table class="tableprogress">
            <thead>
                <tr>
                    <th>Level</th>
                    <th>Location</th>
                    <th>Rank</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Earth</td>
                    <td>Earthling</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Atmosphere</td>
                    <td>Skyward Wanderer</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>Moon</td>
                    <td>Lunar Explorer</td>
                </tr>
                <tr>
                    <td>15</td>
                    <td>Mars</td>
                    <td>Martian Scout</td>
                </tr>
                <tr>
                    <td>20</td>
                    <td>Jupiter</td>
                    <td>Storm Rider</td>
                </tr>
                <tr>
                    <td>25</td>
                    <td>Saturn</td>
                    <td>Ring Voyager</td>
                </tr>
                <tr>
                    <td>30</td>
                    <td>Uranus</td>
                    <td>Ice Drifter</td>
                </tr>
                <tr>
                    <td>35</td>
                    <td>Neptune</td>
                    <td>Deep Diver</td>
                </tr>
                <tr>
                    <td>40</td>
                    <td>Milky Way</td>
                    <td>Galactic Traveler</td>
                </tr>
                <tr>
                    <td>45</td>
                    <td>Black Hole</td>
                    <td>Singularity Seeker</td>
                </tr>
                <tr>
                    <td>50</td>
                    <td>Nebula</td>
                    <td>Starborn Survivor</td>
                </tr>
                <tr>
                    <td>55+</td>
                    <td>Deep Space...</td>
                    <td>Intergalactic Navigator</td>
                </tr>
            </tbody>
        </table>
    </div>


    <!--pie chart -->
    <div class="progress-item card">
        <h3>Habit Progress Report</h3>
        <select class="progress_report_frequency">
            <option>Daily</option>
            <option>Weekly</option>
            <option>Monthly</option>
        </select>
        <canvas id="chart" width="300" height="400"></canvas>
    </div>

    <!-- bar graph -->
    <div class="progress-item card">
        <h3>last 7 days at a glance</h3>
        <canvas id="weekly_chart" width="300" height="400"></canvas>
    </div>


    <!-- progress Bars -->
    <div class="progress-item card">
        <h3>Progress Bars</h3>
        <p>Today's Progress: {{ completed_habits }} / {{ total_habits }} ({{ daily_percentage }}%) habits completed!</p>
        <div class="progress-bar-container">
            <div class="progress-bar-fill" style="--progress: {{ daily_percentage|default:0 }}%;"></div>
        </div>

        <p>This week's progress:</p>
        <div class="progress-bar-container">
            <div class="progress-bar-fill" style="--progress: {{ weekly_percentage|default:0 }}%;"></div>
        </div>

        <p>This month's progress:</p>
        <div class="progress-bar-container">
            <div class="progress-bar-fill" style="--progress: {{ monthly_percentage|default:0 }}%;"></div>
        </div>
    </div>

    <!-- idk what to put here -->
    <div class="progress-item card"></div>
    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.umd.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="{% static 'js/stats.js' %}"></script>

{% endblock %}