{% extends 'base.html' %}
{% block content %}
<h2>My Progress</h2>
<p>Want an email notification of your habits for today?
    <a href="{% url 'send_habit_notifications' %}">
        <button class="small-btn">Send!</button>
    </a>
</p>

<p>Today's Progress: {{ completed_habits }} / {{ total_habits }} ({{ percentage }}%)</p>

<div class="progress-bar-container" style="background-color: #ddd; width: 100%; height: 30px; border-radius: 5px; margin-top: 10px;">
    <div class="progress-bar-fill" style="--progress: {{ percentage|default:0 }}%;"></div>
</div>

<p>"Gamification" aspects, experience, levels</p>
<p>Maybe completed habits</p>

{% endblock %}